extends layout

block content
  h1 Name: #{item.name}

  p #[strong Description:] #{item.description}
  p #[strong Price:] #{item.price}$
  p #[strong Units in stock:] #{item.stocked}
  p #[strong Category:] 
    a(href=category.url) #{category.name}